<div class="container" style="padding: 10px; align-self: center">
  <div
    class="jumbotron"
    style="
      background-image: url(https://sites.google.com/site/electronicportfoliosit/_/rsrc/1478507802349/home/welcome%202.jpg);
      margin-top: 30px;
      padding: 150px;
      image-resolution: inherit;
    "
  >
    <h1 style="color: aliceblue; margin-top: 30px; text-align: right"></h1>
    <h2 style="color: aliceblue; text-align: right"></h2>
    <p style="color: aliceblue; text-align: right"></p>
  </div>
</div>
